{% extends 'Chapp/navbar.html' %}

{% block body %}
<div class="text-center justify-content-center">
    {% for i in data%}
<div class="card-body shadow-sm p-3 bg-white rounded ml-10 mb-10">
<h5 class="card-title">{{i.username}} {{i.date_time}}</h5>
<img src="{{i.image.url}}" class="shadow-lg p-3 mb-5 bg-white rounded img-responsive" height=400 width=35%>
<h5 class="card-text">{{i.caption}}</h5>  
<h6 class="card-text">Likes: {{i.likes}}</h6> <h6>Comments: {{i.comments}}</h6>
<a class="btn btn-primary" href="{%url 'newsfeed:like_User' i.id %}">Like</a> 
<a class="btn btn-primary" href="{%url 'newsfeed:dislike_User' i.id %}">Dislike</a> 
<a class="btn btn-primary" href="{%url 'newsfeed:comment_User' i.id %}">Comment</a>
</div>
{% endfor %}
</div>


{% endblock %}